<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&display=swap"
    rel="stylesheet">
  <title>simple weather</title>
</head>

<body>
  <div id="app" class="container">
    <section class="container-search">
      <div class="container-search-head">
        <h1>weather in</h1>
        <input type="text" placeholder="enter a place..." v-model="place">
        <button v-on:click="getLocationFromName">
          <img src="search.svg" alt="">
        </button>
        <button v-on:click="setFavourite">
          <img id="star" src="star-gray.svg" alt="">
        </button>
      </div>


      <div class="container-search-result">
        <h2>{{name}}</h2>
        <img v-if="temp != null" v-bind:src="'http://openweathermap.org/img/wn/'+this.icon+'@2x.png'">
        <span v-if="temp != null">{{ Math.round(temp) }}°C </span>
        <span class="right">{{description}}</span>
        <span>feels like: {{Math.round(feels)}}˚C</span>
        <span class="right">humidity: {{humidity}}%</span>
        <span>{{main}}</span>
        <span class="right">wind speed: {{wind}}m/s</span>
    </section>
    <section class="container-favorites">
      <h2>favorites:</h2>
      <div class="container-favorites-items">
        <div v-for="item in favourites">
          <button v-on:click="setName(item)">{{item}}</button>
        </div>

      </div>
    </section>
  </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>

</html>