<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&display=swap"
    rel="stylesheet">
  <title>simple weather</title>
</head>

<body>
  <div id="app" class="container">
    <section class="container-search">
      <div class="container-search-head">
        <h1>weather in</h1>
        <input type="text" placeholder="enter a place..." v-model="place">
        <button v-on:click="getLocationFromName">
          <img src="search.svg" alt="">
        </button>
        <button v-on:click="setFavourite">
          <img id="star" src="star-gray.svg" alt="">
        </button>
      </div>


      <div class="container-search-result">
        <h2>{{name}}</h2>
        <img v-if="temp != null" v-bind:src="'http://openweathermap.org/img/wn/'+this.icon+'@2x.png'">
        <span v-if="temp != null">{{ Math.round(temp) }}°C </span>
        <span class="right">{{description}}</span>
        <span>feels like: {{Math.round(feels)}}˚C</span>
        <span class="right">humidity: {{humidity}}%</span>
        <span>{{main}}</span>
        <span class="right">wind speed: {{wind}}m/s</span>
    </section>
    <section class="container-favorites">
      <h2>favorites:</h2>
      <div class="container-favorites-items">
        <div v-for="item in favourites">
          <button v-on:click="setName(item)">{{item}}</button>
        </div>

      </div>
    </section>
  </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        temp: null,
        description: null,
        humidity: null,
        pressure: null,
        main: null,
        icon: null,
        wind: null,
        place: 'Praha',
        name: null,
        feels: null,
        favourites: []
      },
      mounted() {
        JSON.parse(localStorage.getItem("favourite")).forEach(id => {
          this.favourites.push(id);
          console.log(id);
        })
        let place = this.place;
        axios.get(`https://api.openweathermap.org/data/2.5/weather?q=${place}&appid=04c48969d807f018f709599816759e7b&units=metric`).then(response => {
          console.log(response.data);
          app.temp = response.data.main.temp;
          app.humidity = response.data.main.humidity;
          app.pressure = response.data.main.pressure;
          app.description = response.data.weather[0].description;
          app.main = response.data.weather[0].main;
          app.icon = response.data.weather[0].icon;
          app.wind = response.data.wind.speed;
          app.name = response.data.name;
          app.feels = response.data.main.feels_like;
        });

      },
      methods: {
        getLocationFromName: function () {

          let place = this.place
          axios.get(`https://api.openweathermap.org/data/2.5/weather?q=${place}&appid=04c48969d807f018f709599816759e7b&units=metric`).then(response => {
            console.log(response.data);
            app.temp = response.data.main.temp;
            app.humidity = response.data.main.humidity;
            app.pressure = response.data.main.pressure;
            app.description = response.data.weather[0].description;
            app.main = response.data.weather[0].main;
            app.icon = response.data.weather[0].icon;
            app.wind = response.data.wind.speed;
            app.name = response.data.name;
            app.feels = response.data.main.feels_like;
          });

        },
        setName: function (item) {
          console.log(item);
          this.name = item;
          this.getLocationFromName();
        },
        setFavourite: function () {
          var star=document.getElementById('star');
          console.log(star.src);
          if(star.src=="star-gray.svg"){
            star.src="star-orange.svg";
            console.log("orange now?");
          }
          else{
            star.src="star-gray.svg";
            console.log("gray now?");
          }

          let favorites = JSON.parse(localStorage.getItem("favourite"));
          // let favorites = [];

          if (favorites) {
            if (favorites.filter(i => i == this.name).length < 1) {
              favorites.push(this.name);
              localStorage.setItem("favourite", JSON.stringify(favorites));
            }
            else {
              localStorage.setItem("favourite", JSON.stringify(favorites.filter(i => i != this.name)));
            }
          }
          else {
            localStorage.setItem("favourite", JSON.stringify([this.name]));
          }

          this.favourites = [];
          JSON.parse(localStorage.getItem("favourite")).forEach(id => {
            this.favourites.push(id);

          });

          console.log(this.favourites);

          this.$forceUpdate();

        }
      }
    })
  </script>

</html>